---
const pageTitle = "Archivos";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---
  <BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </BaseLayout>
  <section>
    <p> Primera Pub</p>
    <a href={allPosts[0].url}>¡¡Primera publicación!!</a>
  </section>
  <section>
    <p>Última publicación</p>
    <!-- Usa pop() para obtener la última publicación -->
    <a href={allPosts[allPosts.length - 1].url}>{allPosts[allPosts.length - 1].frontmatter.title}</a>
  </section>
</html>
